*.obj
*.lib
*.dll
*.old
*.sdf
*.opensdf
*.user
*.suo
UpgradeLog*
*_UpgradeReport_*

win32/Debug/
win32/Release/
win32/ipch/

lib/libogg-1.2.2/win32/VS2010/Win32/Debug/
lib/libogg-1.2.2/win32/VS2010/Win32/Release/

lib/flac-1.2.1/obj/
Debug_static/
Release_static/